<section class="mx-5 mb-5">
  <h1 class="text-2xl font-bold">Pipes Mo tan Comunes</h1>
  <h3 class="text-xl font-thin">Pipes incluidos en Angular</h3>
</section>
<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">

  <app-card title="i18nSelectPipe">
    <p class="mb-2">Saludos {{cliente().name}}, es un placer {{ cliente().gender | i18nSelect:invitationMap }} a nuestro
      evento</p>
    <button (click)="changeClient()" class="btn btn-primary">Click Me</button>
  </app-card>

  <app-card title="i18nPlural">
    <p class="mb-2">
      Actualmente {{clients().length | i18nPlural:clientsMap()}}
    </p>
    <button [disabled]="clients().length == 0" (click)="deleteClient()" class="btn btn-primary">Borrar Cliente</button>
  </app-card>

  <app-card title="SlicePipe">
    <b>Original</b>
    <p class="text-primary">
      {{clients().join(", ")}}
    </p>
    <b class="mt-2">Slice: 0:2</b>
    <p class="text-primary">{{clients() | slice:0:2}}</p>
    <b class="mt-2">Slice: 1:2</b>
    <p class="text-primary">{{clients() | slice:1:2}}</p>
    <b class="mt-2">Slice: 2:3</b>
    <p class="text-primary">{{clients() | slice:2:3}}</p>
    <b class="mt-2">Slice: 3:4</b>
    <p class="text-primary">{{clients() | slice:3:4}}</p>
    <b class="mt-2">Slice: 0:-3</b>
    <p class="text-primary">{{clients()| slice:0:-3}}</p>

  </app-card>

  <app-card title="JsonPipe">
    <pre class="text-primary">{{clients() |json}}</pre>
    <pre class="text-primary">{{cliente() |json}}</pre>
    <p class="text-primary">{{clients().join(", ") | json}}</p>
  </app-card>

  <app-card title="KeyvaluePipe">
    <!-- <pre>{{profile | keyvalue |json}}</pre> -->
    <ul>
      @for (item of profile | keyvalue; track $index) {
      <li>
        <strong class="text-primary">{{item.key | titlecase}}: </strong>
        <span>
          {{item.value}}
        </span>
      </li>
      }
    </ul>
  </app-card>

  <app-card title="AsyncPipe">
    <p>{{promiseValue | async}}</p>

    @if(promiseValue | async; as value){
    <p class="text-primary">{{value}}</p>
    }

    <h3 class="text-2xl">Observable</h3>
    <p>{{myObservableTimer | async }}</p>
    @if (myObservableTimer | async; as value) {
    <p>Valor: {{value}}</p>
    }@else {
    <p class="text-secondary">Cargando...</p>
    }
  </app-card>
</div>
