<h1>DragonBall Page</h1>
<hr />

<section class="row row-cols-6">
  <div col="col">
    <h3>Agregar: {{name()}}</h3>
    <input type="text" class="form-control" [value]="name()" (input)="name.set(txtName.value)" #txtName
      placeholder="Nombre" />
    <input type="number" class="form-control mt-2" [value]="power()" (input)="power.set(+txtPower.value)" #txtPower
      placeholder="Poder" />

    <button (click)="addCharacter()" class="mt-2 btn btn-primary">Agregar</button>
  </div>

  <div class="col">
    <h3>Listado Fuertes</h3>
    <ul>
      @for (character of characters(); track character.id; let idx = $index) {
      @if (character.power > 1400) {
      <li>
        <span>{{ idx + 1 }} - {{ character.name }}</span>
        <!-- [ngClass]="powerClasses()" -->
        <strong [class.text-danger]="character.power > 9000"
          [class.text-danger-emphasis]="character.power > 4000 && character.power < 9000"
          [class.text-primary]="character.power < 4000">

          ({{character.power}})</strong>
      </li>
      }
      }
    </ul>
  </div>
</section>
